# 风速数据 - 统计

![](images/6.jpg)

### 加载数据

In [20]:
import pandas as pd
import datetime

In [21]:
data = pd.read_table('data/wind.data', sep='\s+', parse_dates=[[0, 1, 2]])
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
Yr_Mo_Dy    6574 non-null datetime64[ns]
RPT         6568 non-null float64
VAL         6571 non-null float64
ROS         6572 non-null float64
KIL         6569 non-null float64
SHA         6572 non-null float64
BIR         6574 non-null float64
DUB         6571 non-null float64
CLA         6572 non-null float64
MUL         6571 non-null float64
CLO         6573 non-null float64
BEL         6574 non-null float64
MAL         6570 non-null float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

### 对日期数据进行分析

In [23]:
data.Yr_Mo_Dy.describe()

count                    6574
unique                   6574
top       2068-01-30 00:00:00
freq                        1
first     1970-01-01 00:00:00
last      2069-12-31 00:00:00
Name: Yr_Mo_Dy, dtype: object

### 我们发现存在2067年？创建一个函数并用它去修复这个bug

In [24]:
def fix_century(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return datetime.date(year, x.month, x.day)

In [25]:
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)
data = data.set_index('Yr_Mo_Dy')
data.head(250)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1961-09-03,11.63,7.29,7.00,5.75,5.58,5.37,5.88,5.88,5.25,7.96,6.79,7.12
1961-09-04,6.79,3.04,4.79,3.17,4.75,2.17,1.25,2.21,2.96,1.75,5.41,3.37
1961-09-05,12.67,10.00,6.38,5.83,10.41,5.83,9.38,8.54,9.04,9.96,13.62,15.04
1961-09-06,17.62,12.54,11.58,10.17,14.54,9.13,14.09,10.79,12.71,11.71,15.83,20.25
1961-09-07,9.21,3.92,7.58,5.83,7.54,5.96,7.87,4.88,7.04,7.41,5.66,10.83

### 对应每一个location，一共有多少数据值缺失

In [26]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### 对应每一个location，一共有多少完整的数据值¶

In [27]:
data.shape[1]

12

In [28]:
data.shape[1] - data.isnull().sum()

RPT     6
VAL     9
ROS    10
KIL     7
SHA    10
BIR    12
DUB     9
CLA    10
MUL     9
CLO    11
BEL    12
MAL     8
dtype: int64

### 对于全体数据，计算风速的平均值

In [29]:
data.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

In [30]:
data.mean().mean()

10.227982360836924

### 创建一个名为loc_stats的数据框去计算并存储每个location的风速最小值，最大值，平均值和标准差

In [31]:
loc_stats = pd.DataFrame()
loc_stats['min'] = data.min()
loc_stats['max'] = data.max()
loc_stats['mean'] = data.mean()
loc_stats['std'] = data.std()
loc_stats

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

### 创建一个名为day_stats的数据框去计算并存储所有location的风速最小值，最大值，平均值和标准差

In [37]:
day_stats = pd.DataFrame()
day_stats['min'] = data.min(axis=1)
day_stats['max'] = data.max(axis=1)
day_stats['mean'] = data.mean(axis=1)
day_stats['std'] = data.std(axis=1)
day_stats.head()

            min     max        mean         std
Yr_Mo_Dy
1961-01-01  1.0  1961.0  150.442857  521.138056
1961-01-02  1.0  1961.0  149.192857  521.493581
1961-01-03  1.0  1961.0  149.504286  521.406085
1961-01-04  1.0  1961.0  136.362000  504.781236
1961-01-05  1.0  1961.0  139.637333  503.877109

### 对于每一个location，计算一月份的平均风速

In [48]:
data['date'] = data.index
data['year'] = data['date'].apply(lambda date: date.year)
data['month'] = data['date'].apply(lambda date: date.month)
data['day'] = data['date'].apply(lambda date: date.day)
january_winds = data.query('month == 5')
january_winds.loc[:, 'RPT':'MAL'].mean()

RPT    11.724032
VAL    10.145619
ROS    11.550394
KIL     6.307487
SHA    10.224301
BIR     6.942061
DUB     8.797738
CLA     8.452903
MUL     8.040806
CLO     8.524857
BEL    12.767258
MAL    13.736039
dtype: float64

Yr_Mo_Dy
1961-01-01     1
1961-01-02     2
1961-01-03     3
1961-01-04     4
1961-01-05     5
              ..
1978-12-27    27
1978-12-28    28
1978-12-29    29
1978-12-30    30
1978-12-31    31
Name: day, Length: 6574, dtype: int64

Yr_Mo_Dy
1961-01-01    1961
1961-01-02    1961
1961-01-03    1961
1961-01-04    1961
1961-01-05    1961
              ...
1978-12-27    1978
1978-12-28    1978
1978-12-29    1978
1978-12-30    1978
1978-12-31    1978
Name: year, Length: 6574, dtype: int64

### 对于数据记录按照年为频率取样

In [49]:
data.query('month == 6 and day == 29')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,year,month,day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-06-29,NaN,10.46,7.96,6.79,12.62,7.08,8.33,9.46,7.08,10.92,20.88,10.79,1961-06-29,1961,6,29
1962-06-29,10.79,8.54,6.96,6.67,7.75,5.09,6.42,7.83,7.75,9.17,6.42,11.38,1962-06-29,1962,6,29
1963-06-29,15.09,14.04,15.21,10.54,14.58,9.00,13.50,15.04,11.50,15.54,20.96,18.75,1963-06-29,1963,6,29
1964-06-29,10.29,6.42,8.12,5.21,9.38,5.37,8.92,6.63,8.29,10.63,12.42,16.21,1964-06-29,1964,6,29
1965-06-29,5.63,6.38,9.38,4.17,6.17,3.29,4.12,4.08,3.79,5.88,6.00,13.17,1965-06-29,1965,6,29
1966-06-29,7.75,4.00,7.41,2.58,6.21,2.67,4.46,2.21,4.58,3.25,11.29,6.96,1966-06-29,1966,6,29
1967-06-29,10.17,6.21,8.08,7.12,13.00,9.17,12.17,12.12,9.38,10.46,15.41,23.16,1967-06-29,1967,6,29
1968-06-29,12.00,16.25,12.96,9.75,16.08,9.75,9.13,11.67,9.79,9.59,18.96,15.79,1968-06-29,1968,6,29
1969-06-29,6.04,7.12,8.29,4.00,5.58,4.46,5.96,10.29,5.83,8.38,19.29,14.67,1969-06-29,1969,6,29
1970-06-29,16.04,12.04,12.71,10.25,14.92,11.79,15.92,10.00,13.79,14.50,15.46,22.21,1970-06-29,1970,6,29
1971-06-29,3.96,7.29,8.38,3.67,5.25,3.25,3.79,5.63,6.46,1.46,6.21,4.54,1971-06-29,1971,6,29
1972-06-29,6.92,9.21,7.04,3.46,5.25,3.33,5.09,5.09,4.67,4.75,14.83,9.87,1972-06-29,1972,6,29
1973-06-29,18.05,16.50,16.21,8.46,12.92,11.58,13.21,13.88,12.00,13.21,19.21,17.79,1973-06-29,1973,6,29
1974-06-29,6.00,4.42,7.00,2.62,6.00,3.50,3.17,5.75,3.75,4.21,7.50,6.71,1974-06-29,1974,6,29
1975-06-29,8.17,4.71,11.54,2.50,4.25,0.25,1.83,4.63,3.37,1.17,5.21,7.25,1975-06-29,1975,6,29
1976-06-29,5.29,1.00,6.38,1.75,1.63,0.54,5.58,2.25,4.21,2.92,9.50,6.54,1976-06-29,1976,6,29
1977-06-29,13.08,11.25,7.25,5.25,13.25,8.92,7.50,7.00,7.46,6.25,12.46,12.54,1977-06-29,1977,6,29
1978-06-29,13.88,10.34,9.25,6.50,15.25,8.96,9.67,9.13,8.71,7.96,13.42,13.96,1978-06-29,1978,6,29

### 对于数据记录按照月为频率取样

In [50]:
data.query('day == 15')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,year,month,day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75,1961-01-15,1961,1,15
1961-02-15,6.04,12.08,6.13,4.21,9.87,6.92,5.17,7.41,8.17,9.21,17.12,10.96,1961-02-15,1961,2,15
1961-03-15,11.12,15.54,13.96,8.42,10.88,8.83,11.54,13.54,8.46,13.92,22.13,14.12,1961-03-15,1961,3,15
1961-04-15,5.17,6.42,3.92,2.67,3.37,1.54,2.46,2.29,3.58,4.00,5.75,6.79,1961-04-15,1961,4,15
1961-05-15,9.62,3.92,9.75,3.88,5.63,3.46,5.91,5.88,6.38,6.25,6.63,8.42,1961-05-15,1961,5,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08-15,14.37,12.08,11.96,5.83,11.54,8.79,8.54,6.63,9.29,5.91,9.29,10.17,1978-08-15,1978,8,15
1978-09-15,11.50,11.87,11.34,7.46,13.59,13.21,14.96,13.21,13.33,11.17,19.25,25.17,1978-09-15,1978,9,15
1978-10-15,10.83,8.33,6.42,3.75,8.38,6.04,7.41,6.50,7.79,7.96,11.92,16.79,1978-10-15,1978,10,15
1978-11-15,23.67,23.45,20.08,15.96,20.83,16.00,20.12,18.12,18.29,18.08,21.09,25.37,1978-11-15,1978,11,15
1978-12-15,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16,1978-12-15,1978,12,15